html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#header {
    height: 15vh;
    width: 100%;
    margin: 0 0 10px 0;
    background: #1877f2;
}

#game-env {
    margin: auto;

}

.table.is-bordered {
    margin: 0 auto;
}

.block {
    text-align: center;
}

table  tr  td {
    width: 4em;
    height: 4em;
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
}