html, body {
    height: 100%;
    background: #f8f8ff;
}

* {
    margin: 0;
    padding: 0;
}

#header {
    height: 4em;
    width: 100%;
    margin: 0 0 10px 0;
    background: #1877f2;
    color: white;
    text-align: center;
}

.header-text {
    padding: 1em;
    font-size: larger;
    font-weight: bold;
}

#game-env {
    margin: auto;

}

.table tbody {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.table.is-bordered {
    margin: 0 auto;
}

.block {
    text-align: center;
}

table  tr  td {
    width: 4em;
    height: 4em;
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
}